/*Global*/
body {
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

.siteheader h1 {
  font-family: 'Squada One', cursive;
}


h1 {
  font-family: 'Arvo', serif;
}
